@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --laranja: #F46E27;
    --azul: #093D93;
    --branco: #F4F5FA;
    --preto: #171821;
    --preto-medio: #21222D;
    --preto-claro: #494A58;
    --cinza: #87888C;
    --azul-claro: #28AEF3;

    --inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

header {
    position: fixed;
    top: 0;
    background-color: #191A23;
    max-width: 10rem;
    height: 100vh;
    box-shadow: 0 30px 60px rgb(0, 0, 0, 0.3);
}

.logo {
    margin-left: 10%;
}


header li {
    margin: 1rem 0;
}

.nav-item:hover {
    opacity: 0.9;
}

body {
    font-family: var(--inter);
    background-color: var(--preto);
    color: var(--branco);
}

.Card {
    background-color: var(--preto-medio);
    max-width: 22.67rem;
    height: 350px;
    border-radius: 10px;
    gap: 2rem;
    box-shadow: 0px 2px 12px 5px rgb(0, 0, 0, 0.08);
    transition: 0.5s;
}

.Card:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.CardsContainer {
    /*border: 1px solid white;*/
}

#main-search {
    background-color: var(--preto-medio);
    color: var(--branco);
    border: none;
    height: 3rem;
    border-radius: 8px;
    padding: 1.5rem 1.5rem 1.5rem 2.7rem;
    background-image: url('./assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1rem;
}

main h1 {
    color: var(--laranja);
}

.CardsContainer {
    gap: 2rem;
}

.main-header {
    border-bottom: 0.15px solid #2C2E3B;
}

.Options {
    /*border: 1px solid white;*/
}

.LeftOptions > span {
    color: var(--cinza);
}

#txt-show {
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    color: var(--branco);
}

.new-project, .filter {
    background: none;
    border: none;
}

#order-select {
    height: 32px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--cinza);
    width: 5rem;
}

.filter {
    color: var(--cinza);
    border: 1px solid var(--cinza) !important;
    border-radius: 5px;
}

.card-part1 {
    border-bottom: 0.15px solid #2C2E3B;
}

.description {
    /*border: 1px solid black;*/
    max-height: 120px;
    font-size: 0.85rem;
}